<section class="bg-gray-50 min-h-screen flex items-center justify-center">
  <div class="bg-[#27374D] flex rounded-3xl shadow-lg max-w-3xl text-white">

    <div class="px-20 p-5">
      <h2 class="font-bold mt-6 flex justify-center text-2xl">Reset Password</h2>
      <p class="text-xs mt-2 flex justify-center">New password make easier way to login application</p>

      <form class="flex flex-col mt-5">
        <p class="text-xs mt-2 ml-2 flex">Email</p>
        <input class="p-2 rounded-3xl border" type="text" name="email" placeholder="  Email" id="" />

        <p class="text-xs mt-7 ml-2 flex">Old Password</p>
        <input class="p-2 rounded-3xl border" type="password" name="password" placeholder="  Old Password" id="" />

        <p class="text-xs mt-1 ml-2 flex">New Password</p>
        <input class="p-2 rounded-3xl border" type="password" name="password" placeholder="  New Password" id="" />

        <button class="bg-[#526D82] rounded-3xl mt-7 mb-5 text-white text-ms py-2 hover:scale-105 duration-300"><a href="login">Confirm</a></button>

        <a href="/dashboard" class="text-xs mt-5 ml-2 flex items-center justify-center">back to Dashboard!</a>

      </form>
    </div>
  </div>
</section>